body
{
    background-image: url("download.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    image-resolution: 84 ;
    background-color: rgb(168, 164, 164);
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }