body
        {
            background-image:url("graduate.jpg");
            background-size: 100% 100%;
            background-repeat: no-repeat;
           
        }
        h1{
            background-color: rgb(124, 110, 110);
        }
        